html {
  font-size: 62.5%;
}
* {
  font-family: "Open Sans", sans-serif;
}
body {
  background: linear-gradient(
    120deg,
    rgba(237, 244, 245, 1) 40%,
    rgba(120, 154, 159, 1) 91%
  );

  font-size: 1.6rem;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-form {
  background-color: #edf4f5;
  border-radius: 5px;
  width: 100%;
  max-width: 350px;
  position: relative;
  z-index: 1;
}

.form-group {
  margin: 1rem 2rem;
  padding: 0.75rem 0;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #789a9f;
  border-radius: 5px;
  padding: 1rem;
  outline: 0;
  transition: border 0.15s, box-shadow 0.15s;
}

input:focus {
  border: 1px solid #f78f1e;
  box-shadow: 0 0 2px 1px #f78f1e;
}

label {
  display: inline-block;
  margin-bottom: 1rem;
  color: #054950;
}

.login-btn {
  background-color: #f78f1e;
  border: none;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin: 1rem 0;
  padding: 1rem;
  cursor: pointer;
  color: #054950;
  font-weight: 600;
  font-size: 1.6rem;
}

/*Modal*/

.modalD {
  background-color: #ff0000;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 1.5rem;
  border-radius: 5px;
  display: none;
  position: absolute;
  z-index: 999;
}

.modalS {
  background-color: #32a842;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 1.5rem;
  border-radius: 5px;
  display: none;
  position: absolute;
  z-index: 1;
}

.sub-user,
.sub-password {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}
